<!-- bellow basic 'Education And Training' section -->
<div class="resume_item resume_education">
    <div class="title">
        <p class="bold">Education And Training</p>
    </div>

    <p>{{ object.user_edu|safe }}</p>

    <!-- <ul>
        <li>
            <div class="date">2016 - 2020</div>
            <div class="info">
                <p class="semi-bold">Bachelor: Turin Polytechnic University. </p>
                <p>Field of study: Information technology and automation systems in industry.</p>
            </div>
        </li>
        <li>
            <div class="date">2020</div>
            <div class="info">
                <p class="semi-bold">Completed: One Million Uzbek Coders </p>
                <p>Field of study: Front-End Development </p>
            </div>
        </li>
    </ul> -->
</div>