            <!-- bellow basic 'Experience' section -->
            <div class="resume_item resume_work">
                <div class="title">
                    <p class="bold">Experience</p>
                    <p class="semi-bold" style="margin-top: 15px;">Front End Developer</p>
                    
                </div>
                <p>{{ object.user_experience|safe }}</p>
                <!-- <div class="date" style="margin-top: 15px;">2019 - Present</div>
                <ul>
                    <li class="info_full">
                        <div class="info">
                            <p>Proficient in Html, Css, Bootstrap, JavaScript and jQuery.</p>
                        </div>
                    </li>
                    <li class="info_css">
                        <div class="info">
                            <p><b>In Css,</b> can style any HTML tag that creates a visible element on the page.
                                Can style size, color, typeface, alignment,
                                color, style, display, position, float, opacity, border, margins, padding properties of text, image, link
                            </p>
                        </div>
                    </li>
                    <li class="info_bootstrap">
                        <div class="info">
                            <p><b>In Bootstrap,</b> can easily using grid system, container, button styles, cards, collapse, navigation bars, carousel, icons. </p>
                        </div>
                    </li>
                    <li class="info_script">
                        <div class="info">
                            <p><b>In JavaScrip,</b> can use operators, data types, functions, Objects, Events, HTML DOM(Events, EventListener).t</p>
                        </div>
                    </li>
                    <li class="info_jquery">
                        <div class="info">
                            <p><b>In jQuery,</b> familiar with jQuery Effects and jQuery HTML</p>
                        </div>
                    </li>
                    <li class="info_last">
                        <div class="info">
                            <p>Here is I am attaching my <a href="#"><b>GitHub</b></a> link. You can kindly review with my projects.</p>
                        </div>
                    </li>
                </ul> -->


                <!-- <div class="title">
                    <p class="semi-bold" style="margin-top: 15px;" >Practising Networking and system administration</p>
                    <p><b>O'zavtosanoat:</b> Amir Temur str,13, 100047 Tashkent (Uzbekistan). www.uzavtosanoat.uz</p>
                </div>
                <div class="date" style="margin-top: 15px;">Jul 2019 - Avg 2019</div>
                <ul>
                    <li class="info_practic1">
                        <div class="info">
                            <p>training with networking and system administration of local network of company .</p>
                        </div>
                    </li>
                    <li class="info_practic2">
                        <div class="info">
                            <p>fixing bugs of local network and setting routers.</p>
                        </div>
                    </li>
                </ul> -->
            </div>