
   <!-- bellow liner diagram show the specialist's skill in percent -->
   <div class="resume_item resume_skills">
    <div class="title">
        <p class="bold">skill's</p>
    </div>
    <ul>
        <li>
            <div class="skill_name">
                HTML
            </div>
            <div class="skill_progress">
                <span style="width: 90%;"></span>
            </div>
            <div class="skill_per">90%</div>
        </li>
        <li>
            <div class="skill_name">
                Css
            </div>
            <div class="skill_progress">
                <span style="width: 90%;"></span>
            </div>
            <div class="skill_per">90%</div>
        </li>
        <li>
            <div class="skill_name">
                Bootstrap
            </div>
            <div class="skill_progress">
                <span style="width: 70%;"></span>
            </div>
            <div class="skill_per">70%</div>
        </li>
        <li>
            <div class="skill_name">
                JavaScript
            </div>
            <div class="skill_progress">
                <span style="width: 70%;"></span>
            </div>
            <div class="skill_per">70%</div>
        </li>
        <li>
            <div class="skill_name">
                JQuery
            </div>
            <div class="skill_progress">
                <span style="width: 50%;"></span>
            </div>
            <div class="skill_per">50%</div>
        </li>
    </ul>
</div>