            <!-- bellow basic specialist info represented -->
            <div class="resume_content">
                <div class="resume_item resume_info">
                    <div class="title">
                        <p class="bold">{{ object.user_name }}</p>
                        <p class="regular">{{ object.user_profession }}</p>
                    </div>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fas fa-map-signs"></i>
                            </div>
                            <div class="data">
                                {{ object.user_address  }}
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="data">
                                {{ object.user_phone }}
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-envelope-square"></i>
                            </div>
                            <div class="data">
                                {{ object.user_email }}
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fab fa-weebly"></i>
                            </div>
                            <div class="data">
                                <a  href='www.shukur.uz'>www.shukur.uz</a> 
                            </div>
                        </li>
                    </ul>
                </div> 
